$navbar-default-bg: #073B15 ;
$jumbotron-default-bg: #07571b ;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: $jumbotron-default-bg;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-xlarge {
  color: #fff;
  background-color: $navbar-default-bg;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;

  a {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.description {
  margin-top: 0;
}

.well a {
  color: $navbar-default-bg;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: $navbar-default-bg;
}

.recipe-actions {
  padding-top: 5px;

  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: $jumbotron-default-bg;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}